<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596829906915-l0j31j2l6g44tadfukojqlb9g7jr47d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596829906915-l0j31j2l6g44tadfukojqlb9g7jr47d5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>596829906915-oqi3q927fltarb1qckfucve9c8pfqqhj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3DFvxNJZnP5NLyAHTFP4KcU4z05bVRBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>596829906915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capitalpeople.capital24</string>
	<key>PROJECT_ID</key>
	<string>capital24-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>capital24-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596829906915:ios:403dca1fc03c140dc522d6</string>
	<key>DATABASE_URL</key>
	<string>https://capital24-flutter.firebaseio.com</string>
</dict>
</plist>